/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0;
}
body {
    background: rgb(8 27 39);
    font-family: fangsong;
}
header{
   
}  
.header{
    background-color: rgb(63 53 103);
    padding: 0px 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
}  
.header__logo {
    display: flex;
    font-size: 30px;
    color: rgb(19, 13, 13);
    flex-grow: 3;
    align-items: center;
}
.header__logo-icon{
    margin-left: 10px;
}
.header__search {
    width: 40%;
    display: flex;
    align-items: center;
    flex-grow: 3;
}
.header__search-input {
    padding: 13px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
}
.header__search-search{
    margin-left: -30px;
    color: #666;
}
.header__log {
  
}
.header__log-register {
    padding:11px 10px;
    border-radius: 4px;
    border: none;
    background: #ffffff38;
    color: #fff;
    font-weight: 400;
}
.header__log-register:hover{
    cursor: pointer;
    background: #8dc782b8;
}
.header__log-in {
    padding: 11px 10px;
    border-radius: 4px;
    border: none;
    background: #ffffff38;
    color: #fff;
    font-weight: 400;
}
.header__log-in:hover{
    cursor: pointer;
    background: #8dc782b8;
}

.header__nav {
    display: flex;
    background: #142631;
    color: #fff;
    padding: 0px 5%;
    padding-right: 5%;
}
.header__nav-home {
    display: flex;
    margin-right: 10px;
    font-size: 16px;
    /* align-items: center; */
    /* font-weight: 500; */
    padding: 15px 10px;
}
.header__nav-home:hover{
    cursor: pointer;
    color: #aaaaaa;
    background-color: rgb(43, 74, 109);
}
.banner-slider {
    display: flex;
    width: 70%;
    float: left;
    flex-direction: column;
}
.banner{
    padding: 3% 5%;
    padding-right: 0;
    width: 100%;
    float: left;
}
.banner__img{
    width: 100% !important;
    display: flex;
}
.banner__img-child {
    width: 100%;
}
button.slick-next.slick-arrow {
    position: absolute;
    right: 2%;
  
}

button.slick-prev.slick-arrow{
    z-index: 1;
    left: 5%;
}
.slick-prev:before {
    content: '←';
    font-size: 35px;
}
.slick-next:before {
    content: '→';
    font-size: 35px;
}
.topmonth{
    float: left;
    width: 30%;
    display: flex;    
    flex-direction: column;
}
.topmonth__body {
   text-align: center;
   margin-bottom: 15px;
}
.topmonth__body:hover{
    cursor: pointer;
  
}
.topmonth__body-footer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.topmonth-header {
    font-size: 27px;
    text-align: center;
    color: #ffff00c7;
    font-weight: 900;
  
}
.topmonth__body-img{
    width: 45%;
}
.topmonth__body-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    flex-grow: 3;
}
.topmonth__body-eye {
    margin-top: 10px;
    font-size: 15px;
    color: #f0f8ff94;
    font-weight: 300;
}
.topmonth__body-star{
  
    color: #c8c849;
}
.slider__col1{
    padding: 0 5%;
    padding-right: 0;
}
.slider__col1-title{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.slider__col1-row1-img {
    width: 100%;
}
.slider__col1-row2-img {
    width: 96.4%;
}
.slider__col1-row3-img {
    width: 89.3%;
}
.slider__col1-row4-img {
    width: 100.55%;
}
.slider__col1-row5-img {
    width: 101.9%;

}