/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    margin: 0;
}
body {
 /*    background: rgb(8 27 39); */
    background-color: #1d1d1d;
    font-family: fangsong;
}
.body{
    display: flex;
}
header{
   
}  
.header{
    background-color: rgb(40 48 52);
    padding: 0px 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
}  
.header__logo {
    display: flex;
    font-size: 30px;
    color: rgb(19, 13, 13);
    flex-grow: 3;
    align-items: center;
}
.header__logo-icon{
    margin-left: 10px;
}
.header__search {
    width: 40%;
    display: flex;
    align-items: center;
    flex-grow: 3;
}
.header__search-input {
    padding: 13px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
}
.header__search-search{
    margin-left: -30px;
    color: #666;
    cursor: pointer;
}
.header__log {
  
}
.header__log-register {
    padding:11px 10px;
    border-radius: 4px;
    border: none;
    background: #ffffff38;
    color: #fff;
    font-weight: 400;
}
.header__log-register:hover{
    cursor: pointer;
    background: #8dc782b8;
}
.header__log-in {
    padding: 11px 10px;
    border-radius: 4px;
    border: none;
    background: #ffffff38;
    color: #fff;
    font-weight: 400;
}
.header__log-in:hover{
    cursor: pointer;
    background: #8dc782b8;
}

.header__nav {
    display: flex;
    background: #142631;
    color: #fff;
    padding: 0px 5%;
    padding-right: 5%;
}
.header__nav-home {
    display: flex;
    margin-right: 10px;
    font-size: 16px;
   color: #fff;
    padding: 15px 10px;
}
.header__nav-home:hover{
    cursor: pointer;
    color: #aaaaaa;
    background-color: rgb(43, 74, 109);
}

.banner-slider {
    display: flex;
    width: 70%;
    float: left;
    flex-direction: column;
}
.banner{
    padding: 3% 5%;
    padding-right: 0;
    width: 100%;
    float: left;
}
.banner-aqua{
    padding-top: 0;
    padding-bottom: 0;
}
.banner__footer-epis {
    margin-top: 10px;
}
.banner__footer-epi {
    padding: 5px 8px;
    background: rgb(192, 47, 88);
    border-radius: 4px;
    cursor: pointer;
}
i.fas.fa-angle-double-right{
    font-size: 10px;
    color: #bbbbbb;
}
.banner__body{
    margin-left: 5%;
    color: rgb(47 113 169 / 65%);
    font-size: 18px;
    padding: 6px 0px;
}
.banner__footer {
    padding-left: 5%;
    font-size: 20px;
}
.banner__img{
    width: 100% !important;
    display: flex;
}
.banner__img-child {
    width: 100%;
}
button.slick-next.slick-arrow {
    position: absolute;
    right: 1.1%;
  
}

button.slick-prev.slick-arrow{
    z-index: 1;
    left: 5%;
}
.slick-prev:before {
    content: '←';
    font-size: 35px;
}
.slick-next:before {
    content: '→';
    font-size: 35px;
}
.topmonth{
    float: left;
    width: 30%;
    display: flex;    
    flex-direction: column;
}
.topmonth__contact{
    background: #1d1d1d;
    float: left;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #bbbbbb;
    font-size: 16px;
}
.topmonth__contact-header{
font-size: 25px;
color: #fff;
text-align: center;
}
.topmonth__body {
   text-align: center;
   margin-bottom: 15px;
}
.topmonth__body:hover{
    cursor: pointer;
  
}
.topmonth__body-footer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.topmonth-header {
    font-size: 27px;
    text-align: center;
    color: #ffff00c7;
    font-weight: 900;
  
}
.topmonth__body-img{
    width: 45%;
}
.topmonth__body-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    flex-grow: 3;
}
.topmonth__body-eye {
    margin-top: 10px;
    font-size: 15px;
    color: #f0f8ff94;
    font-weight: 300;
}
.topmonth__body-star{
  
    color: #c8c849;
}
.slider__col1{
    padding: 0 5%;
    padding-right: 0;
    margin-bottom: 75px;
}
.slider__col1-row1 {
    display: flex;
    padding: 0 5px;
}
.slider__col1-title{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
a.slider__col1-row1-link {
   
    align-items: center;
    position: absolute;
    width: 7.45%;
    height: 50px;
    background-color: rgba(255, 0, 0, .6);
    color: #fff;
    bottom: 38px;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.slider__col1-row1:hover a.slider__col1-row1-link{
    display: flex;
}
.slider__col1-row1-img {
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    font-family: fontawesome;
    font-size: 30px;
    color: #fff;
}
.slick-prev:before {
    content: '\f104';
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    background: rgb(42 49 53);
    font-weight: 700;
}
.slick-next:before{
    content:'\f105';
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    background: rgb(42 49 53);
    font-weight: 700;
}
button.slick-prev.slick-prev-col2.slick-arrow {
    top: -8%;
    left: 46%;
}
button.slick-prev.slick-prev-col2.slick-arrow::before{
    background-color: transparent;
    padding: 0;
}
button.slick-next.slick-next-col2.slick-arrow {
    top: -8%;
    right: 46%;
}
button.slick-next.slick-next-col2.slick-arrow::before{
    background-color: transparent;
    padding: 0;
}
.slider__col1-row1-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #8094a5;
    margin-top: 10px;
}
footer{
    background-color: #1e171b;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer__info{
   
}
.footer__info-text {
    font-size: 15px;
    color: #bbb3b8;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.footer__info-header {
    padding: 0 15px;
}
.footer__info.footer__info-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul-tag{
    display: flex;
    margin-top: 10px;
}
li.tag-item {
    font-size: 15px;
    padding: 2px 5px;
    color: #999;
    background: #21323d;
    margin-left: 5px;
    border-radius: 4px;
}
.comment {
    background: #fff;
    margin-left: 5%;
    margin-top: 15px;
    width: 95%;
    height: 300px;
    padding: 10px;
}
.comment__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
p.comment__header-text{
    color: #000;
    font-weight: 900;
    font-size: 16px;
}
.comment__body-head{
    display: flex;
}
.comment__body-head-img{
    width: 45px;
    height: 45px;
}
.comment__body-head-comment{
    width: 100%;
    margin-left: 10px;
    padding: 10px 5px;
    padding-bottom: 25px;
    outline: none;
    font-size: 16px;
}