:root{
    

    --footer-bgr:#051740;
    --colorbgr:hsla(0,0%,100%,0.05);
    --active-bgr:#132958;
    --search-bgr:#061d50;
    --color-text:#fff;
    --overview-bgr:#637191;
    --history-search-bgr:#192f60;
    --link-color-text:hsla(0,0%,100%,0.15);
    --hear-fill:rgb(62, 74, 243);
    --list-overview:#fff;
    --search-hover:#ffffff4a;
    --progress-active:#fff;
    --progress-player:hsla(0,0%,100%,0.3);
    --bgr-theme:#192f60;
}
.btn .bi-pause-circle{
    display:none;
}
.btn-toggle-play.active .bi-pause-circle{
    display:block;
    padding: 0;
}
.btn-toggle-play.active .bi-play-circle{
    display:none;
}
.volume .bi-volume-mute{
    display:none;
}
.volume.active .bi-volume-mute{
    display:block;
}
.volume.active .bi-volume-up{
    display:none;
}
.btn-random.active{
    color: #1f3cb9;
}
.btn-repeat.active{
    color: #1f3cb9;
}
.list-song.active{
    background: var(--active-bgr);
}
.list-song:hover{
    background: var(--active-bgr);
    cursor: pointer;
}
.overview-list.active {
    background: var(--overview-bgr);
    border-radius: 25px;
    color:var(--list-overview);
}
.list-song-album-time .bi-heart-fill.active{
    color: #fff;
}
img.img-animation-three {
    position: absolute;
    width: 230px;
    z-index: 1;
    left: 48px;
    /* bottom: 10px; */
    border-radius: 12px;
}
img.img-animation-second {
    position: absolute;
    width: 196px;
    z-index: 1;
    left: 26px;
    border-radius: 10px;
    opacity: 0.6;
    top: 15px;
}
img.img-animation-frist {
    position: absolute;
    width: 164px;
    left: 10px;
    top: 35px;
    border-radius: 10px;
    opacity: 0.5;
}
.history-search{
    display:none;
}
.history-search.active{
    display:block;
}
.tab-pain{
    display:none;
}
.tab-pain.active{
    display:flex;
    flex-direction: column;
}
.over-lists-songs-2 {
    padding-top: 15px;
    width: 95%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.list-song-img i.bi.bi-caret-right-fill {
    font-size: 21px;
    padding: 10px;
    background: #7f81837d;
    /* top: 9px; */
    border-radius: 7px;
    position: absolute;
    display:none;
}
.list-song:hover i.bi.bi-caret-right-fill{
    display:block;
}
.list-song:hover .bi-three-dots{
    display:block;
    margin-left:17px;
}
.list-song:hover .time-during{
    display:none;
}
.list-song-img {
    position: relative;
}
.hover-song-showdot .bi-three-dots{
    font-size:17px;
    display:none;
}
.list-song:hover .list-song-album i{
    display: block;
}
i.bi.bi-caret-right-fill {
    color: #fff;
}
.nav-bar-active.active{
    background: var(--colorbgr);
    color: var(--list-overview);
}
.body-scroll.active{
    display: block;
}
.slick-prev {
    left: 0%;
    z-index: 2;
}
.slick-prev:before, .slick-next:before{
    font-family: bootstrap-icons;
    font-size: 30px;
    color: #000;
}
.slick-prev:before{
    content:'\f284';
    font-size: 18px;
}
.slick-next:before{
    content:'\f285';
    font-size: 18px;
}
.slick-next, .slick-prev{
    height: 38px;
    width: 38px;
    background-color: #fff !important;
    border-radius: 50%;
    top:40%;
}

.slick-next {
    right: 0%;
}