
.btn .bi-pause-circle{
    display:none;
}
.btn-toggle-play.active .bi-pause-circle{
    display:block;
    padding: 0;
}
.btn-toggle-play.active .bi-play-circle{
    display:none;
}
.btn-lyric .bi-volume-mute{
    display:none;
}
.btn-random.active{
    color: #1f3cb9;
}
.btn-repeat.active{
    color: #1f3cb9;
}
.list-song.active{
    background: #132958;
}
.list-song:hover{
    background: #132958;
    cursor: pointer;
}
.overview-list.active {
    background: #637191;
    border-radius: 25px;
}
.list-song-album-time .bi-heart-fill.active{
    color: #fff;
}
img.img-animation-three {
    position: absolute;
    width: 230px;
    z-index: 1;
    left: 48px;
    /* bottom: 10px; */
    border-radius: 12px;
}
img.img-animation-second {
    position: absolute;
    width: 196px;
    z-index: 1;
    left: 26px;
    border-radius: 10px;
    opacity: 0.6;
    top: 15px;
}
img.img-animation-frist {
    position: absolute;
    width: 164px;
    left: 10px;
    top: 35px;
    border-radius: 10px;
    opacity: 0.5;
}
.history-search{
    display:none;
}
.history-search.active{
    display:block;
}
.tab-pain{
    display:none;
}
.tab-pain.active{
    display:flex;
}
.over-lists-songs-2 {
    padding-top: 15px;
    width: 95%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.list-song-img i.bi.bi-caret-right-fill {
    font-size: 21px;
    padding: 10px;
    background: #7f81837d;
    /* top: 9px; */
    border-radius: 7px;
    position: absolute;
    display:none;
}
.list-song:hover i.bi.bi-caret-right-fill{
    display:block;
}
.list-song:hover .bi-three-dots{
    display:block;
    margin-left:17px;
}
.list-song:hover .time-during{
    display:none;
}
.list-song-img {
    position: relative;
}
.hover-song-showdot .bi-three-dots{
    font-size:17px;
    display:none;
}
.list-song:hover .list-song-album i{
    display: block;
}