@media(max-width:1133px){
    #body{
        margin-left: 70px;
    }
    .body-left{
        width: 70px;
    }
    #header{
        margin-left:70px;
    }
    .icon{
        justify-content:center;
    }
    img.logo{
        display: none;
    }
    img.logo-mini {
        display: block;
    }
    .nav-bar-active span{
        display: none;
    }
    .marketing{
        display: none;
    }
    .nav-bar-active p{
        display: none;
    }
    .nav-bar-active{
        padding: 15px 0;
        justify-content: center;
    }
    .line-width {
        margin: 11px 25px 0px 21px;
        width: 25px;
        height: 0.1px;
        background: #65757347;
    }
    .partner-item {
        width: 25%;
    }
   
    
}
@media(max-width:1024px){
    .over-list-slider.mv {
        width: 50%;
    }
    .over-list-hidden.none{
        display: none;
    }
}
@media(max-width:400px){
    #footer{
        bottom:54px;
        height: 7rem;
    }
    .body-left {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: inherit;
        top:inherit;
        height: inherit;
    }
    .icon{
        display: none;
    }
    .nav-bar {
        display: flex;
        width: 100%;
    }
    .nav-bar-active{
        width: 25%;
    }
    .line-width{
        display: none;
    }
    .nav-bar.add-playlist{
        display: none;
    }
    #header {
        margin-left: 0;
    }
    #body{
        margin-left: 0;
        padding-left:0;
    }
    .background_them {
        padding: 0 30px;
        overflow: scroll;
        height: 720px;
    }
    .background_them-body {
        width: 100%;
    }
    .header-content {
        display: none;
    }
    .avata-updata{
        display: none;
    }
    .over-lists-songs-2{
        padding-left:0;
    }
    .list-song-album {
        display: none;
    }
    .footer__.lyrics {
        display: none;
    }
    .control-input-group{
        display: none;
    }
    .btn.btn-random {
        display: none;
    }
    .btn.btn-repeat{
        display: none;
    }
    .btn.btn-prev{
        display: none;
    }
    .footer__.song{
        width: 70%;
    }
    .footer__control{
        width: 30%;
        align-items: flex-start;
    }
    .image-current img{
        border-radius: 50%;
    }
    .footer__song-.songname{
        width: 100%;
    }
    .footer__song-.like .bi.bi-three-dots{
        display:none;
    }
    .footer__song-name{
        font-size: 1.5rem;
    }
    .footer__song-singer{
        font-size: 1.5rem;
    }
    .footer__btn{
        margin-bottom:0;
    }
    .over-list-animation{
        display:none;
    }
    .over-list-slider {
        width: 50%;
    }
}